body {
  font-family: Roboto Mono, monospace;
  color: rgb(170, 170, 170);
  margin: 50px;
}

a {
  text-decoration: none;
  color: rgb(170, 170, 170);
}

label {
  display: block;
}

nav {
  display: flex;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.all {
  margin: auto;
}

.all ul {
  display: flex;
  flex-flow: row wrap;
  /* align-content: space-around; */
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  /* margin: auto; */
  /* padding-left: 0; */
}

.all li {
  list-style: none;
  flex: 0 0 33.333333%;
}

.singleCartImage img {
  width: 70px;
}
.singleProductImage img {
  width: 200px;
  display: inline;
}
.allProductImage img {
  width: 140px;
}
.capDescription {
  max-width: 200px;
}

.nav-bar {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
  transition: transform 0.5s;
  z-index: 2;
  width: 100%;
  position: static;
  vertical-align: middle;
  top: 0;
  align-items: center;
}
#pageName {
  margin: auto;
}

#singleProductBox {
  margin-left: 30vw;
  width: 50vw;
}
#singleProductBox p {
  display: block;
}
.logo {
  width: ;
}
.navBarImages {
  width: 30px;
}

/* .container {
  padding: 30px, 55px, 0px;

} */

hr {
  flex-grow: 1;
}
